@{
    ViewData["Title"] = "Home Page";
}

@model UcgenAlanHesabi

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
                <table>
                    <tr>
                        <td style="color:darkblue;font-size:20px;"> Yükseklik  : </td>
                        <td>@Html.EditorFor(yukseklik => yukseklik.Yukseklik )</td>
                    </tr>
                    <tr>
                        <td style="color:darkblue;font-size:20px;"> Taban Uzunluğu  : </td>
                        <td>@Html.EditorFor(uzunluk => uzunluk.TabanUzunlugu )</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Alanı Hesapla" />
                        </td>
                    </tr>
                    <tr>
                        <td>@ViewBag.Message </td>
                    </tr>
                </table>
        }
    </div>
</body>
</html>

